<div class="wrapper fadeInDown">
  <div class="fadeIn first mt-4">
    <img src="./../../../assets/imagens/onde-comer.png" id="icon" alt="User Icon" />
  </div>

  <ul class="nav nav-tabs mt-4">
    <li><a class="nav-item nav-link" (click)="listaRestaurante()" href="#">Restaurantes para você</a></li>
    <li><a class="nav-item nav-link" (click)="trocaRestaurante()" href="#">Pagina do restaurante</a></li>
    <li><a class="nav-item nav-link" (click)="trocaUsuario()" href="#">Pagina do usuário</a></li>
  </ul>

  <div *ngIf="listagemRestaurante">
    <div *ngFor="let restaurante of getAllrestaurante" class="card mt-4" style="width: 35rem;">
      <div class="card-body">
        <h5 class="card-title">{{ restaurante.nome }}</h5>
        <h6 class="card-subtitle mb-2">Cardápio: {{ restaurante.cardapios.nome }} </h6>

        <div *ngFor="let cardapio of restaurante.cardapios">
          <div *ngFor="let item of cardapio.itens">
            <p>Item: </p>
            <p class="text-muted ml-1"> {{ item.nome }} </p>
          </div>
        </div>
        <h6 class="card-subtitle mb-2 mt-2">Contato:</h6>
        <p class="text-muted ml-1"> Bairro: {{ restaurante.localizacao.bairro }} </p>
        <p class="text-muted ml-1"> Rua: {{ restaurante.localizacao.rua }} </p>
        <p class="text-muted ml-1"> Estado: {{ restaurante.localizacao.estado }} </p>
        <p class="text-muted ml-1"> Cidade: {{ restaurante.localizacao.cidade }} </p>
        <p class="mt-2"> Restrições: </p>
        <p class="text-muted ml-1" *ngFor="let restricao of restaurante.restricoes">{{ literal(restricao) }} </p>
      </div>

      <div class="modal-footer">
        <button type="button" (click)="editarRestaurante(restaurante)" class="btn btn-secondary" data-toggle="modal"
          data-target="#incluirModal">Editar</button>
        <button type="button" (click)="excluirRestaurante(restaurante)" class="btn btn-primary">Excluir</button>
      </div>
    </div>

  </div>

  <app-pagina-usuario *ngIf="paginaUsuario"></app-pagina-usuario>
  <app-pagina-restaurante *ngIf="paginaRestaurante"></app-pagina-restaurante>
</div>

<div class="modal fade" id="incluirModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Incluir restaurante</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nome: </span>
          </div>
          <input ngDefaultControl name="nomeRestaurante" [(ngModel)]="nomeRestaurante" type="text" class="form-control"
            placeholder="Informe o nome" aria-label="nome" aria-describedby="basic-addon1">
        </div>

        <div class="col-md-12">
          <div>
            <input class="ml-1" type="checkbox" [(ngModel)]="naoContemGluten" name="NAO_CONTEM_GLUTEN"
              id="NAO_CONTEM_GLUTEN" />
            <label class="ml-1" for="NAO_CONTEM_GLUTEN">Não contém gluten</label>
          </div>

          <div>
            <input class="ml-1" type="checkbox" [(ngModel)]="naoContemLactose" name="NAO_CONTEM_LACTOSE"
              id="NAO_CONTEM_LACTOSE" />
            <label class="ml-1" class="ml-1" for="NAO_CONTEM_LACTOSE">Não contem lactose</label>
          </div>

          <div>
            <input class="ml-1" type="checkbox" [(ngModel)]="vegano" name="VEGANO" id="VEGANO" />
            <label class="ml-1" for="VEGANO">Vegano</label>
          </div>

          <div>
            <input class="ml-1" type="checkbox" [(ngModel)]="vegetariano" name="VEGETARIANO" id="VEGETARIANO" />
            <label class="ml-1" for="VEGETARIANO">Vegerariano</label>
          </div>
        </div>

        <p>Localicação: </p>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Rua: </span>
          </div>
          <input ngDefaultControl name="rua" [(ngModel)]="localizacao.rua" type="text" class="form-control"
            placeholder="Informe a rua" aria-label="nome" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Bairro: </span>
          </div>
          <input ngDefaultControl name="bairro" [(ngModel)]="localizacao.bairro" type="text" class="form-control"
            placeholder="Informe o bairro" aria-label="nome" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Cidade: </span>
          </div>
          <input ngDefaultControl name="cidade" [(ngModel)]="localizacao.cidade" type="text" class="form-control"
            placeholder="Informe a cidade" aria-label="nome" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Estado: </span>
          </div>
          <input ngDefaultControl name="estado" [(ngModel)]="localizacao.estado" type="text" class="form-control"
            placeholder="Informe o estado" aria-label="nome" aria-describedby="basic-addon1">
        </div>

        <p>Cardapio: </p>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nome do cardapio: </span>
          </div>
          <input ngDefaultControl name="nomeRestaurante" [(ngModel)]="cardapio.nome" type="text" class="form-control"
            placeholder="Informe o nome" aria-label="nome" aria-describedby="basic-addon1">
        </div>

        <div *ngFor="let item of cardapio.itens; let i = index" class="po-row po-mt-2">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Nome: </span>
            </div>
            <input ngDefaultControl name="nomeCardapio" [(ngModel)]="item.nome" type="text" class="form-control"
              placeholder="Adicionar nome do item do cardápio" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </div>
        <button class="btn btn-primary btn-sm" (click)="adicionar()" type="button">
          Adicionar item
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" (click)="salvarRestaurante()" data-dismiss="modal" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="incluirModalCliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastrar usuário</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nome: </span>
          </div>
          <input ngDefaultControl name="nomeUsuario" [(ngModel)]="nomeUsuario" type="text" class="form-control"
            placeholder="Informe o nome" aria-label="nome" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Email: </span>
          </div>
          <input ngDefaultControl name="usuario" [(ngModel)]="emailUsuario" type="text" class="form-control"
            placeholder="Informe o email" aria-label="Username" aria-describedby="basic-addon1">
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" (click)="salvarUsuario()" data-dismiss="modal" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="excluirModalCliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Excluir usuário</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Email: </span>
          </div>
          <input ngDefaultControl name="emailUsuario" [(ngModel)]="emailUsuario" type="text" class="form-control"
            placeholder="Informe o email" aria-label="Username" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" (click)="excluirUsuario()" data-dismiss="modal" class="btn btn-primary">Excluir</button>
      </div>
    </div>
  </div>
</div>